
<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>注册</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->




<script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/axios.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>




<style>

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

</style>






<style>

     body { padding-top: 55px; }
     .pandingsm { padding-bottom :10px;}
     .panding { padding-bottom :20px;}
     .pandingright { padding-right :30px;}
     .pandingtwo { padding-bottom :60px;}
     .pandingtop { padding-top :60px;}
     .pandingtopthree { margin-top :180px;}


</style>







  </head>
  <body>



      <nav class="navbar navbar-inverse navbar-fixed-top site-header ">
        <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color:white">Huang</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/bbs">Huang-BBS</a></li>
            <li><a href="/cloud">Ayaka-Cloud</a></li>
            <li><a href="/tools">Smart-Tools</a></li>
      </ul>
         <form class="navbar-form navbar-left" method="get" action="/search">
        <div class="form-group" >
          <input  type="text"  style= "background-color:   transparent;   border:   0px;color:white " name="s" id="s" required="" class="form-control" placeholder="Input-Search">
        </div>
      </form>
        <ul id="user" class="nav navbar-nav navbar-right">
<!--            <li v-if = 'user.token'  ><a href="/about/me">{{user.name}}</a></li>-->
            <li ><a href="/sign">Sign & Register</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
      </nav>






    <div class="container">

        <div class="row">
            <h3 class="text-left col-xs-6 col-md-4"> Huang ID </h3>
            <a href='/sign'><h3 class="lead c text-right pandingright">登入</h3></a>
            <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
        </div>

        <div class="panding"></div>

        <h2>注册您的 Huang ID </h2>

        <div class="panding"></div>


        <div>
            <div class="row">

                <div class="form-group form-group-lg col-xs-11 col-md-4 ">
                    <label>输入您的 email 以开始。</label>
                    <div class="panding"></div>
                    <input type="email" class="form-control" id="email" placeholder="Huang ID - Email">


                    <div class="panding"></div>

                    <input type="password" class="form-control" id="password" placeholder="密码">
                                        <div class="panding"></div>

                    <input type="password" class="form-control" id="confirm_password" placeholder="确认密码">
                                    <div class="panding"></div>

                    <div class="row">

                        <div class="col-xs-6 col-md-6 ">
                            <input type="text" class="form-control" id="verify_code" placeholder="验证码">
                        </div>

                        <div class="col-xs-6 col-md-6">
                            <button  class="btn btn-default btn-lg"  onclick="verify_code();" id="send_verify_code" role="button">发送验证码</button>
                        </div>

                    </div>

                </div>

                <div class="col-md-4 "></div>

                <div class="col-md-4 ">
                    <blockquote class="hidden-xs hidden-sm">
                        <p>使用您的电子邮箱账号注册 Huang ID。我们将会向您的邮箱发送验证信息以确定您的身份。如您没有收到邮件，请注意是否被放置于【垃圾箱】中。只需一个 Huang ID 即可畅享所以 Huang 服务。</p>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <hr>

                <div class="form-group form-group-lg col-xs-11 col-md-4 ">
                    <label>给自己取个好听点的名字。(<10字符)</label>
                    <div class="panding"></div>
                    <input type="text" class="form-control" id="name" placeholder="名字">
                </div>
            </div>



            <div class="row">
                <div class="col-xs-11 col-md-4">
                    <span class="help-block">验证名字可用性，您可以<a href="javascript:void(0);" onclick="check_name();">点击这里。</a></span>
                </div>
            </div>

            <div class="panding"></div>
            <div class="panding"></div>


            <div class="row">
                <div class="col-xs-11 col-md-4">
                    <button type="button" onclick="check_register();" class="btn btn-primary ">注册</button>
                </div>
            </div>







            <div class="pandingtwo"></div>
     <div class="pandingtwo"></div>



        </div>






    </div>





    <footer>
        <div style="background-color:#f5f5f7">
        <div class="container" >
            <div class="panding"></div>
            <div class="row">

                <div class="col-xs-12 col-md-4">
                    <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
                    <h4>服务</h4>
                    <a href="/bbs"><p>黄社区论坛</p></a>
                    <a href="/cloud"><p>神里网盘</p></a>
                    <a href="/tools"><p>聪明工具箱</p></a>
                    <a href="/edit"><p>发表贴子</p></a>
                    <a href="/up_file"><p>上传文件至网盘</p></a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
                    <h4>账号</h4>
                    <a href="/trouble"><p>账号问题与困难</p></a>
                    <a href="/account"><p>管理账号信息</p></a>
                    <a href="/about/me"><p>管理我的数据库</p></a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
                    <h4>关于</h4>
                    <a href="/github"><p>github</p></a>
                    <a href="/website"><p>网站</p></a>
                </div>
            </div>
            <hr>
            <p class="pull-right"><a href="#">回到顶部</a></p>
        <p>© 2021 HuangZedong · <a href="/private">隐私政策</a> · <a href="/about/us">关于我们</a></p>
        <p class="panding"></p>
        </div>
    </div>
    </footer>







<!-- Modal -->
<div class="modal pandingtopthree " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">来自 Huang 的通知</h4>
      </div>
      <div  class="modal-body">
          <strong id="warm"></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>











    <script>

    function warm(option){
        var warm = document.getElementById("warm") ;
        warm.innerHTML = option ;
        $('#myModal').modal("toggle")
    }

</script>


<script>

        function ischeckemail(){
            var email = document.getElementById("email").value;
            if(email != "") {
                var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                //调用正则验证test()函数
                var isok = reg.test(email);
                if(!isok) {
                    warm("邮箱格式不正确，请重新输入！");
                    document.getElementById("email").focus();
                    return false;
                    }
                else{
                    return true;
                    }
                }
            else{
                warm("您还未输入邮箱");
                document.getElementById("email").focus();
                return false;
            };
        }
</script>


    <script>
function check_name(){
                       var name = document.getElementById("name").value;
                       if (name != ""){
                               axios.post('/api/verify_name',{
                    type : "post",
                    name : name
                })
                .then(function (response) {
                    if ( response.data.status == 200 ) {
                        warm( response.data.msg );
                        }
                    else {
                        warm("INTERNET ERROR");
                    }
                }.bind(this)).catch(function (error) {
                    warm("INTERNET ERROR");
                    console.log(error);
                })
                       }else{
                            warm("请输入您的名字。")
                       }
        }
</script>


<script>
        function check_register(){

            if ( ischeckemail() ) {
            }else{return;};

            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;
            var verify_code = document.getElementById("verify_code").value;
            var name = document.getElementById("name").value;

            if ( password == '' ){
                warm("请输入密码");
                return;
            }

            if ( confirm_password == '' ){
                warm("请输入确认密码");
                return;
            }

            if ( password != confirm_password ){
                warm("两次输入的密码不一致！");
                return;
            };

            if ( verify_code == '' ){
                warm("请输入验证码");
                return;
            }

            if ( name == '' ){
                warm("名字不能为空");
                return;
            }


            axios.post('/api/register',{
                    type : "post",
                    email : email,
                    password : password,
                    verify_code : verify_code,
                    name : name
                })
                .then(function (response) {
                    if ( response.data.status == 200 ) {
                        warm( response.data.msg );
                        }
                    else {
                        warm("INTERNET ERROR");
                    }
                }.bind(this)).catch(function (error) {
                    warm("INTERNET ERROR");
                    console.log(error);
                })




        }

</script>


    <script>

    function verify_code(){

            if ( ischeckemail() ) {
            }else{return;};


            var email = document.getElementById("email").value ;
            var send_verify_code = document.getElementById("send_verify_code") ;
            send_verify_code.disabled = "disabled";

            axios.post('/api/verify_code',{
                    type : "post",
                    InputPhone : email
                })
                .then(function (response) {

                    if ( response.data.status == 200 ) {
                        warm( response.data.msg );
                        send_verify_code.innerHTML = "已发送.";
                        }
                    else {
                        warm("INTERNET ERROR");
                    }

                }.bind(this)).catch(function (error) {
                    warm("INTERNET ERROR");
                    console.log(error);
                })


        }



    </script>




<!--

    <script>

        axios.post('/api/get_data1',{
                    type : "post",
                    data : {"1":"1"}

                })
                .then(function (response) {

                    main.main = response.data;

                    //if ( response.data.user != "") {
                        //alert(response.data.user)
                    //    user.user = response.data.user;
                     //   }


                }.bind(this)).catch(function (error) {
                    console.log(error);
                });






    </script>
-->





    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>