
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>上传文件</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/bootstrap3/bootstrap.min.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

<link href="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/bootstrap3/docs.min.css" rel="stylesheet">





<script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/axios.min.js"></script>
     <script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/vue2/vue.js"></script>




<style>


.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


    .blurr {
  background-color: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
}

.bg-poster {
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.bg-effect {
<!--    position: absolute;-->
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


</style>


  </head>
  <body>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">密码(2/5)</h4>
      </div>
      <div class="modal-body">
        <h5>您的文件是否需要密码才可下载?</h5>
          <p>这个操作会使得下载文件时需要输入您设定的密匙.</p>
          <p></p>

<form>
          <div class="radio">
  <label>
    <input onclick="input_password_click2()" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    不需要密码
  </label>
</div>
<div class="radio">
  <label>
    <input onclick="input_password_click1()" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    需要密码
  </label>
</div>
</form>

<input id="input_password" type="text" class="form-control" placeholder="请输入您要设定的密匙" style="display:none">




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal1">(๑￫ܫ￩) 下一步 (oﾟωﾟo)</button>
      </div>
    </div>
  </div>
</div>









<script type="text/javascript">

function input_password_click1() {
        var input_password = document.getElementById("input_password");
        input_password.style = "display:true";
    }

function input_password_click2() {
        var input_password = document.getElementById("input_password");
        input_password.style = "display:none";
    }
</script>

















<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel1">公开(3/5)</h4>
      </div>
      <div class="modal-body">
        <h5>您是否希望将您的文件公布在大厅?</h5>
          <p>这将不会影响密码的安全性,并且可能会增加您的查找速度.</p>
        <form>
         <div class="radio">
  <label>
    <input  type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
    公开
  </label>
</div>
<div class="radio">
  <label>
    <input  type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
    不公开
  </label>
</div>
        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" data-dismiss="modal">上一步</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" data-dismiss="modal">(๑￫ܫ￩) 下一步 (oﾟωﾟo)</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">名称(4/5)</h4>
      </div>
      <div class="modal-body">
        <h5>您是否要给您的文件取一个小名?</h5>
          <p>这将不会更改你的文件名字,会加快您的查找速度.你可以起这样一个名字-例如:小黄的图片文档</p>


          <form>
          <div class="radio">
  <label>
    <input onclick="input_password_click4()" type="radio" name="optionsRadios" id="optionsRadios5" value="option4" checked>
    不需要设置名字
  </label>
</div>
<div class="radio">
  <label>
    <input onclick="input_password_click3()" type="radio" name="optionsRadios" id="optionsRadios6" value="option5">
    需要设置
  </label>
</div>
</form>

<input id="input_password1" type="text" class="form-control" placeholder="请输入您的文件的名字" style="display:none">




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1" data-dismiss="modal">上一步</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3" data-dismiss="modal">(๑￫ܫ￩) 下一步 (oﾟωﾟo)</button>
      </div>
    </div>
  </div>
</div>







<script type="text/javascript">

function input_password_click3() {
        var input_password = document.getElementById("input_password1");
        input_password.style = "display:true";
    }

function input_password_click4() {
        var input_password = document.getElementById("input_password1");
        input_password.style = "display:none";
    }
</script>


















<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel3">备注(5/5)</h4>
      </div>
      <div class="modal-body">
        <h5>这是最后一个关节</h5>
          <p>您可以选择为你的文件添加备注</p>
          <p>这可能可以增加理解.</p>
          <textarea id="note" class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" data-dismiss="modal">上一步</button>
        <button type="button" class="btn btn-primary" onclick="check_data()" data-toggle="modal" data-target="#myModal4" data-dismiss="modal">(๑￫ܫ￩) 完成 (oﾟωﾟo)</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="color:green" class="modal-title" id="myModalLabel4">完成</h4>
      </div>
      <div class="modal-body">
        <h5 style="color:green">您的文件已上传成功.</h5>
          <p style="color:green">如果您选择公开,您可以在大厅看到您上传的文件.</p>
          <p style="color:green">如您选择不公开,您可以使用上方搜索按钮搜索您的文件名以下载.谢谢.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="see_my_file()" data-dismiss="modal">查看我的文件</button>
        <button type="button" onclick="leave()" data-dismiss="modal" class="btn btn-primary">(๑￫ܫ￩) 离开 (oﾟωﾟo)</button>
      </div>
    </div>
  </div>
</div>
















 <nav class="navbar navbar-inverse navbar-fixed-top site-header ">
        <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color:white">Huang</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/bbs">论坛</a></li>
            <li ><a style="color:white" href="/cloud">云盘</a></li>
            <li><a href="/tools">工具箱</a></li>
      </ul>
         <form class="navbar-form navbar-left" method="get" action="/search">
        <div class="form-group" >
          <input  type="text"  style= "background-color:   transparent;   border:   0px;color:white " name="s" id="s" required="" class="form-control" placeholder="在此键入内容以搜索">
        </div>
      </form>
        <ul id="user" class="nav navbar-nav navbar-right">
            <li v-if = 'user.token'  ><a href="/about/me">{{user.name}}</a></li>
            <li v-else ><a href="/sign">登录 & 注册</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
      </nav>      <div style="height:70px"></div>

<div class="container">


<div class="jumbotron bg-poster bg-effect"  style="background-image: url('https://api.btstu.cn/sjbz/api.php?lx=dongman&amp;format=images');padding-top: 10px;padding-bottom: 10px;">
        <div class="">
            <div class="text-center">
                <a class="btn blurr btn-lg" style="color:white;" href="/cloud" role="button">文件大厅</a>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2>(0)上传您的文件<small>请按照步骤一步步来.</small></h2>
    </div>


        <h4 style="color:green">上传须知 & Upload information & アップロード注意事項</h4>
        <p>为了安全着想,请阁下务必不要上传不健康,不和谐的文件.谢谢.</p>
        <p>For the sake of safety, please do not upload any unhealthy or discordant files. thank you</p>
        <p>安全のために、不健康で不調和なファイルをアップロードしないでください。ありがとう</p>


    <div class="page-header">
        <h3 id="text_alert">(1)点击下方按钮选择并上传您的文件<small>(1/5)</small></h3>
    </div>







<div id="content">
      <p>
          <!--文件选择按钮-->
        <a href="javascript:;">
            <input id="file" type="file" name="myfile" onchange="UpladFile();" />
        </a>
        <!--上传速度显示-->
          <span id="time"></span>
      </p>
      <!--显示消失-->
    <i class="el-icon-close" onclick="del();"></i>
    <!--进度条-->
    <div class="el-progress el-progress--line" style="display: none;">
        <div class="el-progress-bar">
            <div class="progress">
                 <div id="1" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    <p>
        (〃・ｏ・〃)
    </p>
    <p class="_p"><span></span>
        <button id="up_button" style="color:green" class="btn btn-default btn-lg" type="button" onclick="sub();">上传您的文件</button></p>
    <!--预览框-->
    </div>



















 <div class="page-header">
        <h3>(2)现在还需要您再点击下方按钮输入些信息<small>(2/5)</small></h3>
    </div>


<center>

<button type="button" onclick="check_file()" class="btn btn-default btn-lg" >(๑￫ܫ￩) 开始 (oﾟωﾟo)</button>

</center>


</div>







<div style="height:10vh"></div>


    <footer>
        <div style="background-color:#f5f5f7">
        <div class="container" >
            <div class="panding"></div>
            <div class="row">

                <div class="col-xs-12 col-md-4">
                    <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
                    <h4>服务</h4>
                    <a href="/bbs"><p>黄社区论坛</p></a>
                    <a href="/cloud"><p>神里网盘</p></a>
                    <a href="/tools"><p>聪明工具箱</p></a>
                    <a href="/edit"><p>发表贴子</p></a>
                    <a href="/up_file"><p>上传文件至网盘</p></a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
                    <h4>账号</h4>
                    <a href="/trouble"><p>账号问题与困难</p></a>
                    <a href="/account"><p>管理账号信息</p></a>
                    <a href="/about/me"><p>管理我的数据库</p></a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <hr style="border: none; border-top: 1px solid rgb(190,190,190);">
                    <h4>关于</h4>
                    <a href="/github"><p>github</p></a>
                    <a href="/website"><p>网站</p></a>
                </div>
            </div>
            <hr>
            <p class="pull-right"><a href="#">回到顶部</a></p>
        <p>© 2021 HuangZedong · <a href="/private">隐私政策</a> · <a href="/about/us">关于我们</a></p>
        <p class="panding"></p>
        </div>
    </div>
    </footer>



  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/jquery/jquery-3.5.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/bootstrap3/bootstrap.min.js"></script>




    <script>


function getCookie(cname){
	var name = cname + "=";
	var ca = document.cookie.split(';');
	for(var i=0; i<ca.length; i++) {
		var c = ca[i].trim();
		if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
	}
	return "";
}




var user = new Vue({
		el: '#user',
		data: {
			user : {
			            tid : "tid",
			            name : '',
		                token : getCookie('token')
		    		  },
		},
	});





   axios.post('/api/get_name',{
                    token : getCookie('token')
                })
                .then(function (response) {
                    user.user.name = response.data ;

                }.bind(this)).catch(function (error) {
                    console.log(error);
                });




function see_my_file(){

    var url = "/file/" + getCookie("id");
    window.location.href = url;

}




function leave(){

    window.location.href = "/cloud";

}






function check_file() {

    var bu = document.getElementById("up_button");
    var text = document.getElementById("text_alert");
    if ( bu.innerHTML == "已上传." ){
            $('#myModal').modal('show')
            }
    else{
            text.style = "color:red"
        }

}



function check_data() {

if($("#optionsRadios1").is(':checked')){
    var password = "false"
    var password_value = document.getElementById("input_password").value

}else{
    var password = "true"
    var password_value = document.getElementById("input_password").value
};


if($("#optionsRadios3").is(':checked')){
    var public = "true"
}else{
    var public = "false"
};


if($("#optionsRadios5").is(':checked')){
    var other_name = "false"
    var other_name_value = document.getElementById("input_password1").value

}else{
    var other_name = "true"
    var other_name_value = document.getElementById("input_password1").value
};

    var note = document.getElementById("note").value

        axios.post('/api/up_file_inf_cloud',{
                    type : "up_file",
                    password : password,
                    password_value : password_value,
                    public : public,
                    other_name : other_name,
                    other_name_value : other_name_value,
                    note : note
                })
                .then(function (response) {
                    if ( response.data == "success") {
                        //user.user = response.data.user;
                        }
                }.bind(this)).catch(function (error) {
                    console.log(error);
                });

}


    </script>











<script type="text/javascript">

    var bu = document.getElementById("up_button");

    var xhr;//异步请求对象
    var ot; //时间
    var oloaded;//大小
    //上传文件方法
    function UpladFile() {
        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
        if(fileObj.name){

        }else{
            alert("请选择文件");
        }
    }
    /*点击取消*/
    function del(){
        $("#file").val('');
        $(".el-upload-list").css("display","none");
    }
    /*点击提交*/
    function sub(){

        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
        if(fileObj==undefined||fileObj==""){
            alert("请选择文件");
            return false;
        };

        var bu = document.getElementById("up_button");
        bu.disabled="disabled";
        bu.innerHTML = "正在上传中";


        //var title = $.trim($("#title").val());
        //if(title==''){
        //    alert("请填写视频标题");
        //    return false;
        //}
        var url = "/api/video_up_video_cloud"; // 接收上传文件的后台地址
        var form = new FormData(); // FormData 对象
        form.append("mf", fileObj); // 文件对象
        //form.append("title", title); // 标题
        xhr = new XMLHttpRequest(); // XMLHttpRequest 对象
        xhr.open("post", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        xhr.onload = uploadComplete; //请求完成
        xhr.onerror = uploadFailed; //请求失败
        xhr.upload.onprogress = progressFunction; //【上传进度调用方法实现】
        xhr.upload.onloadstart = function() { //上传开始执行方法
            ot = new Date().getTime(); //设置上传开始时间
            oloaded = 0; //设置上传开始时，以上传的文件大小为0
        };
        xhr.send(form); //开始上传，发送form数据
    }
    //上传进度实现方法，上传过程中会频繁调用该方法
    function progressFunction(evt) {
        // event.total是需要传输的总字节，event.loaded是已经传输的字节。如果event.lengthComputable不为真，则event.total等于0
        if(evt.lengthComputable) {
            $(".el-progress--line").css("display","block");
            /*进度条显示进度*/
        var ui = document.getElementById("1");
        ui.style = "width: "+ Math.round(evt.loaded / evt.total * 100) + "% ;"
        ui.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%"
        //    $(".el-progress-bar__inner").css("width", Math.round(evt.loaded / evt.total * 100) + "%");
         //   $(".el-progress__text").html(Math.round(evt.loaded / evt.total * 100)+"%");
        }
        var time = document.getElementById("time");
        var nt = new Date().getTime(); //获取当前时间
        var pertime = (nt - ot) / 1000; //计算出上次调用该方法时到现在的时间差，单位为s
        ot = new Date().getTime(); //重新赋值时间，用于下次计算
        var perload = evt.loaded - oloaded; //计算该分段上传的文件大小，单位b
        oloaded = evt.loaded; //重新赋值已上传文件大小，用以下次计算
        //上传速度计算
        var speed = perload / pertime; //单位b/s
        var bspeed = speed;
        var units = 'b/s'; //单位名称
        if(speed / 1024 > 1) {
            speed = speed / 1024;
            units = 'k/s';
        }
        if(speed / 1024 > 1) {
            speed = speed / 1024;
            units = 'M/s';
        }
        speed = speed.toFixed(1);
        //剩余时间
        var resttime = ((evt.total - evt.loaded) / bspeed).toFixed(1);
        time.innerHTML = '上传速度：' + speed + units + ',剩余时间：' + resttime + 's';
        if(bspeed == 0)
            time.innerHTML = '上传已取消';
    }
    //上传成功响应
    function uploadComplete(evt) {
        //服务断接收完文件返回的结果  注意返回的字符串要去掉双引号
        if(evt.target.responseText){
            //var str = "../shiping/"+evt.target.responseText;
            var bu = document.getElementById("up_button");
            bu.disabled="disabled";
            bu.innerHTML = "已上传.";

            var text = document.getElementById("text_alert");
            text.style = "color:green"


            alert("上传成功！");
            //$(".preview").append("<video  controls='' autoplay='' name='media'><source src="+str+" type='video/mp4'></video>");
        }else{
            alert("上传失败");
        }
    }
    //上传失败
    function uploadFailed(evt) {
        bu.disabled="";
        bu.innerHTML = "重新上传";
        alert("上传失败！");
    }
</script>



  </body>
</html>