<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/bootstrap5/bootstrap.min.css" rel="stylesheet">



<script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/axios.min.js"></script>
     <script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/vue2/vue.js"></script>

    <title>Huang-club</title>





    <style>

.site-header {
  background-color: rgba(138, 43, 226, .1);
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.bg-poster {
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.bg-effect {
<!--    position: absolute;-->
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.blur{
filter:blur(10px);
-webkit-filter:blur(10px);
-moz-filter:blur(10px);
-ms-filter:blur(10px);
-o-filter:blur(10px);
}

.blurr {
  background-color: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: saturate(180%) blur(1px);
  backdrop-filter: saturate(180%) blur(1px);
}

</style>

<style>

.page-loader {
    position: fixed;
    background: #000;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9998;
}



</style>




  </head>
  <body>



<div id="loading" class="page-loader d-flex justify-content-center align-items-center" style="display: none;">
    <div class="spinner-border text-light " role="status">
    </div>

</div>





  <nav class="navbar navbar-expand-lg fixed-top navbar-dark site-header">
  <div id="user" style="max-width: 1170px;" class="container">
    <a class="navbar-brand" href="/">Huang</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/bbs"> &nbsp;论坛 &nbsp;</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/cloud"> &nbsp;云盘 &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/tools"> &nbsp;工具箱 &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/search"> &nbsp;搜索 &nbsp;</a>
        </li>
      </ul>
<a v-if = 'user.token' class="nav-link navbar-nav text-white" href="/about/me">{{user.name}}</a>
        <a v-else class="nav-link navbar-nav text-white" href="/sign">登录 & 注册</a>    </div>
  </div>
</nav>






  <div id="1"  class="bg-effect bg-poster" style="height : 100vh ; background-image:url('https://api.kdcc.cn/img/'); background-repeat:no-repeat ;">
    <div class="container d-flex align-items-center" style="height:100vh">
        <div>
            <div class="row ">
<!--                <h2 class="display-5 fw-light text-black text-center">-->
<!--                    <span class="fw-bold blurr rounded-3">Huang club</span>-->
<!--                </h2>-->
            </div>
            <div class="row">
                <div class="col-md-2 ">
                </div>
                <div class="col-xs-12 col-md-8 ">
                    <p class="text-center text-white lead strong blurr rounded-3" >huang-club.一个免登录的综合性社区。您可以在社区论坛畅所欲言，发表，分享信息，社区云盘也帮助您更方便的进行文件共享，社区工具箱附带caj2pdf，路径自动化等多种工具。</p>
                              <div class="text-center">
                                  <a href="/bbs" class="btn btn-outline-light blurr m-2" type="button">	&nbsp;	&nbsp; 论坛 	&nbsp;	&nbsp;</a>
          <a href="/cloud" class="btn btn-outline-light blurr m-2" type="button">	&nbsp;	&nbsp; 云盘 	&nbsp;	&nbsp;</a>
          <a href="/tools" class="btn btn-outline-light blurr m-2" type="button">	&nbsp;	&nbsp; 工具 	&nbsp;	&nbsp;</a>
                              </div>
                </div>
                <div class="col-md-2 ">
                </div>
            </div>
        </div>
    </div>
  </div>










   <footer style="max-width: 960px;" class="container py-5">


       <div class="row">
    <div class="col-12 col-md">

      <p>Huang-社区</p>
      <small class="d-block mb-3 text-muted">来自 HuangZedong </small>
      <small class="d-block mb-3 text-muted">&copy; 2018–2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>服务</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/bbs">社区论坛</a></li>
        <li><a class="link-secondary" href="/cloud">社区云盘</a></li>
        <li><a class="link-secondary" href="/tools">智能工具箱</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>资源</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/videos">视频</a></li>
        <li><a class="link-secondary" href="/audios">音频</a></li>
        <li><a class="link-secondary" href="/docs">文档</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>账户</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/trouble">困难与帮助</a></li>
        <li><a class="link-secondary" href="/manage">管理账号信息</a></li>
        <li><a class="link-secondary" href="/database">管理数据库</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>关于</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="/team">团队</a></li>
        <li><a class="link-secondary" href="/contact">地址与联系方式</a></li>
        <li><a class="link-secondary" href="/privacy">隐私协议</a></li>
      </ul>
    </div>
  </div>
</footer>




<!-------------------------js--------------------------------------------------------------------------------------------------------->



  <script>


function getCookie(cname){
	var name = cname + "=";
	var ca = document.cookie.split(';');
	for(var i=0; i<ca.length; i++) {
		var c = ca[i].trim();
		if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
	}
	return "";
}





var user = new Vue({
		el: '#user',
		data: {
			user : {
			            tid : "tid",
			            name : '',
		                token : getCookie('token')
		    		  },
		},
	});





   axios.post('/api/get_name',{
                    token : getCookie('token')
                })
                .then(function (response) {
                    user.user.name = response.data ;

                }.bind(this)).catch(function (error) {
                    console.log(error);
                });




    </script>





    <script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/jquery/jquery-3.5.1.min.js"></script>

<script>

document.onreadystatechange=function () {
          if (document.readyState=="complete"){
               loadingFade();
          }
}
function loadingFade() {
     var opacity=1;
     var loadingBackground=document.getElementById('loading');
     var time=setInterval(function () {
          if (opacity<=0){
               clearInterval(time);
               $('#loading').remove();
          }
          loadingBackground.style.opacity=opacity;
          opacity-=0.99;
     },100);
}



</script>


    <script src="https://huang-1258465420.cos.ap-shanghai.myqcloud.com/bootstrap5/bootstrap.bundle.min.js"></script>


  </body>
</html>